@foreach (var item in Model.Categories)
{
    <div class="form-control ChooseCategory btn d-flex justify-content-start" id="category_element_@item.Id" 
         onmouseover="overCategoryBtn(@item.Id)" 
         onmouseout="outOfCategoryBtn(@item.Id)">
        @item.CategoryName
    </div>
}

