@model IEnumerable<UserViewModel> 
<nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <a class="nav-item nav-link active" href="#users" role="tab" 
           data-toggle="tab" id="usersTab" aria-controls="users" aria-selected="true">Пользователи</a>
        <a class="nav-item nav-link" href="#admins" role="tab" 
           data-toggle="tab" id="adminsTab" aria-controls="admins" aria-selected="false">Администраторы</a>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="usersTab">
            <form id="UpdateUserForm" asp-action="UpdateUser" asp-controller="Administration" method="post">
                @foreach (var item in Model)
                {
                    if (item.Role == "user")
                    {
                        <div class="card UserData mt-3" id="@item.Id" style="max-width:43rem;">
                            @Html.Partial("_User", item)
                        </div>
                    }
                }
            </form>
        </div>
        <div class="tab-pane" id="admins" role="tabpanel" aria-labelledby="adminsTab">
            @foreach (var item in Model)
            {
                if (item.Role == "admin")
                {
                    <div class="card UserData mt-3" id="@item.Id" style="max-width:43rem;">
                        @Html.Partial("_User", item)
                    </div>
                }
            }
        </div>
    </div>
</nav>

<form id="InputUser" asp-action="UpdateUserInput" asp-controller="Administration" method="post">
    <input id="InputStringId" type="text" name="id" hidden>
</form>
<form id="DeleteUserForm" asp-action="RemoveUser" asp-controller="Administration" method="post">
    <input id="DeleteUserId" type="text" name="id" hidden>
</form>
<form id="BlockUserForm" asp-action="ChangeUserStatus" asp-controller="Administration" method="post">
    <input id="BlockUserId" type="text" name="id" hidden>
</form>