@foreach (var item in Model)
{
    <div class="card d-flex text-center" style="width:18rem;">
            <div class="card-title">
                <h4>Имя:@item.Name </h4>
            </div>
            <div class="card-body">
                <p>Фамилия: @item.Surname</p>
                <p>Почта: @item.EMail</p>
                <p>Телефон: @item.Phone</p>
                <p>Активность: @item.IsActive</p>
            </div>
        </div>
}

