@model List<OneDeclarationViewModel>
@{
    List<CategoryViewModel> categories = ViewBag.Categories;
    List<DeclarationStatusViewModel> statuses = ViewBag.Statuses;
    var isActive = ViewBag.UserStatus;
}
<div class="container">
    <div class="container float-left col col-sm-3">
        @*<span class="text-dark d-flex justify-content-center pb-2">ПОИСК</span>*@
        <div class="card navbar-collapse collapse d-sm-inline-flex border-left-0 border-right-0 rounded-0" style="width:15rem;z-index:1">
            <div class="card-body p-2 pr-0">
                <div class="form-control btn d-flex categoryLink float-left" id="showDeclWithAllCateg"
                     onmouseover="changeColorInSearch('showDeclWithAllCateg','#0ced66')"
                     onmouseout="returnColorInSearch('showDeclWithAllCateg')">
                    ВСЕ КАТЕГОРИИ
                </div>
                @foreach (var category in categories)
                {
                    <div class="form-control btn d-flex categoryLink justify-content-start" id="category_element_@category.Id"
                         onmouseover="overElementInSearch('category_element_@category.Id','#0ced66')"
                         onmouseout="outOfElementInSearch('category_element_@category.Id')">
                        @category.CategoryName
                    </div>
                }
            </div>
        </div>

        <div class="card navbar-collapse collapse d-sm-inline-flex border-left-0 border-right-0 rounded-0 mt-2" style="width:15rem;z-index:1">
            <div class="card-body p-2 pr-0">
                <div class="form-control btn d-flex statusLink float-left" id="showDeclWithAllStats"
                     onmouseover="changeColorInSearch('showDeclWithAllStats', '#faa405')"
                     onmouseout="returnColorInSearch('showDeclWithAllStats')">
                    ВСЕ СТАТУСЫ
                </div>
                @foreach (var status in statuses)
                {
                    if ((status.Id == 1 || status.Id == 2) && !User.IsInRole("Admin"))
                    {
                        <div class="form-control btn d-flex justify-content-start statusLink" id="status_element_@status.Id"
                             onmouseover="overElementInSearch('status_element_@status.Id','#faa405')"
                             onmouseout="outOfElementInSearch('status_element_@status.Id')">
                            @status.StatusName
                        </div>
                    }
                    if (User.IsInRole("Admin"))
                    {
                        <div class="form-control btn d-flex justify-content-start statusLink" id="status_element_@status.Id"
                             onmouseover="overElementInSearch('status_element_@status.Id','#faa405')"
                             onmouseout="outOfElementInSearch('status_element_@status.Id')">
                            @status.StatusName
                        </div>
                    }
                }
            </div>
        </div>

        <div class="card navbar-collapse collapse d-sm-inline-flex border-left-0 border-right-0 rounded-0 mt-2" style="width:15rem;z-index:1">
            <div class="card-body p-2 pr-0">
                <div class="col-form-label d-flex justify-content-center pb-0" aria-describedby="exampleDateInput">
                    Выберите дату
                </div>
                <small id="exampleDateInput" class="form-text text-black-50 d-flex float-left pb-1">Например, 04.02.2020 </small>

                <input type="date" class="form-control firstDateToSearch" id="" />
                <span class="d-flex justify-content-center"> - </span>
                <input type="date" class="form-control secondDateToSearch" id="" />

                <input type="submit" class="form-control btn btn-primary mt-2" id="searchByDate" value="Найти" onclick="searchByDate()"/>
            </div>
        </div>
    </div>

    <div class="container float-right col col-sm-9">
        <div class="PostPreviewScrolList">
            @foreach (var item in Model)
            {
                @Html.Partial("/Views/Declaration/_OneDeclaration.cshtml", item)
            }
        </div>
        @*<div id="LoadingPostPreview">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>*@
    </div>
</div>

<form method="get" id="DeclarationOpen" asp-action="OpenDeclaration" asp-controller="Declaration" hidden>
    <input id="DeclarationId" type="text" name="id" />
</form>

<script src="~/js/main_page.js" asp-append-version="true"></script>