/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  background-color:white;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.login_main, .registration_main {
    background-color: #e7edf3;
}

textarea{
    resize:none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.lastClicked {
    background-color: #59bbf4;
}

.OneDeclaration:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor:pointer;
}

.OneDeclaration .card-footer:hover {
    cursor: default;
}

#downloadUserPhoto {
    background-color: #ffffff;
    color: #4cd4a9;
    border-color: #4cd4a9;
}

#updateUserProfileBtn {
    background-color: #ffffff;
    color: #f0d037;
    border-color: #f0d037;
}

.none {
    display: none;
}

.field-validation-error {
    color: #e12d2d;
}

input.input-validation-error {
    border: 1px solid #e12d2d;
}

textarea.input-validation-error {
    border: 1px solid #e12d2d;
}

/*спиннер*/
.pulse-container {
    width: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pulse-bubble {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #000000;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

.spinner-box {
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: .25;
        transform: scale(.75);
    }
}
/**/